* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  overflow-x: hidden;
  background-color: #FF608C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  transition: all 0.2s ease;
  scroll-snap-align:  start;
  padding: 30px 15px;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  top: 0;
  width: 100%;
}

#logo {
  width: 240px;
}

#email {
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

#paraHolder {
  position: fixed;
  bottom: 40px;
  width: 30%;
  left: 15px;
}

#aboutText {
  font-size: 20px;
  margin-bottom: 20px;
  width: 300px;
  font-weight: bold;
}

#copyright {
  font-size: 13px;
  margin-bottom: 30px;
}

#copyright a {
  color: black;
}
#copyright a:hover {
  text-decoration: none;
}

#emailEnd {
  display: none;
  position: absolute;
  top: 5580px;
  top: 100%;
  bottom: 20px;
  right: 15px;
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

#emailEnd:hover {
  text-decoration: underline;
}

#policy {
  margin-top: 20px;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

#policy:hover {
  text-decoration: none;
}

#issuesItem {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: start;
  bottom: 40px;
  width: 80px;
  right: 0;
  gap: 8px;
}

#issuesItem a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
#issuesItem a:checked {
  font-weight: 700;
}

#issuesItem a:hover {
  border-bottom: 1px solid black;
}

#itemContainer {
  /* margin-top: 40px; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.issue img {
  width: 388px;
}

.issue {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
}
.issue a {
  color: white;
  text-decoration: none;
}
.issue p:nth-child(3) {
  margin-top: 20px;
}
.issue a:hover {
  text-decoration: underline;
}

.info {
  display: flex;
  flex-direction: column;
}

.issue p:last-child {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

#issue6 p a {
  color: #FF608C;
}

.issue p {
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 1024px) {
  #issuesItem {
    display: none;
  }
  header {
    position: absolute;
  }
  #email {
    display: none;
  }
  #emailEnd {
    display: block;
    scroll-snap-align: end;
  }

  #paraHolder {
    position: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 15px 20px 15px;
    /* scroll-snap-align: end; */
  }
  #policy {
    margin-top: 0;
  }
}

@media screen and (max-width: 790px) {
  #logo {
    width: 160px;
  }
  #paraHolder {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #aboutText {
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
  }

  #emailEnd {
    position: unset;
    text-align: center;
    width: 100%;
    scroll-snap-align: end;
  }
}

@media (max-width: 420px) {
  #logo {
    width: 120px;
  }
  .issue img {
    width: 360px;
  }
}


@media (max-height: 420px) {
  #logo {
    width: 120px;
  }
  .issue img {
    width: 170px;
  }

  #issuesItem a {
    font-size: 14px;
  }
  #email {
    display: block;
    font-size: 16px;
    margin-right: 20px;
  }
  #emailEnd {
    display: none;
  }
  #itemContainer {
    width: 50%;
    background-color: aliceblue;
  }
  .issue {
    flex-direction: row;
  }
}